* {
  box-sizing: border-box;
}

body {
  font-family: Impact;
  padding: 10px;
  background: #0A9DA2;
  color: #341773;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
  font-family: Forte;
  color: #BF4588;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #BF4588;
  color: #F2E8DC
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #F2E8DC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #0A9DA2;
  padding-left: 20px;
  color: #707070;
  font-family: Charcoal;
}

/* Fake image */
.fakeimg {
  background-color: #BF4588;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  color: #707070
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #E0B86C;
  margin-top: 20px;
  color: #BF4588;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


